<div class="page">
    <h1>Approve points</h1>
    <p>Approve your members points here</p>
    <p>Members pending approval:</p>
    <% @pending_approval.each do |attendee| %>
    User: <%= attendee.user_id %>, Event ID: <%= attendee.event_id%></br>
    <% end %></br>
</div>
<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>
