<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="offset-md-2 col-md-10 col-xs-12">
    <div class="card mt-3">
        <div class="card-header">
            <h1>Approve Points</h1>
        </div>
        <div class="card-body">
            <p>Approve your members points here</p>
            <p>Please select an event to approve attendance for:</p>
            
            <div data-turbolinks = "false">
                <% @events.each do |event| %>
                <%= link_to event.name, event_path(event) %></br>
                <% end %></br>
            </div>
        </div>
    </div>    
</div>

<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>
