<div class="page">
    <h1>Approve points</h1>
    <p>Approve your members points here</p>
    <p>Members pending approval:</p>
    
    <% @events.each do |event| %>
    Event: <%= event.name %></br>
    <% end %></br>
    
</div>

<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>
