<div class="col-10 offset-2">
    <h1>Approve points</h1>
    <p>Approve your members points here</p>
    <p>Please select an event to approve attendance for:</p>
    
    <% @events.each do |event| %>
    Event: <%= event.name %></br>
    <% end %></br>
    
    
</div>

<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>
