<head>
  <title>FLEX Calendar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="col-10 offset-2">
  <div class="card">
    <div class="card-header">
      <h1>Calendar</h1>
      <p>A calendar of all upcoming events!</p>
      <%= link_to "Home", "/" %>
      <% if @user.permissions != "Member" %>
        <button class="btn"
                onclick="prepareNewEventForm()">
          New Event
        </button>
      <% end %>
    </div>
    <div class="card-body">
      <div class="row collapse" id="eventDetailsFormSection">
        <div class="card col-10 pt-3 pb-3 mb-3">
          
          <%= form_tag events_path do %>
            <div class="form-row">
              <div class="form-group col-3">
                <label for="eventName">Event Name: </label>
                <input type="text"
                        class="form-control"
                        id="eventName"
                        name="eventName"
                        placeholder="(e.g. Spring Retreat, Study Night, etc.)"
                        required autofocus>
              </div>        
              
              <div class="form-group col-3">
                <label for="eventDate">Event Date: </label>
                <input type="datetime-local"
                        class="form-control"
                        id="eventDate"
                        name="eventDate"
                        required>
              </div>
              
              <div class="form-group col-3">
                <label for="Location">Location: </label>
                <input type="text"
                        class="form-control"
                        id="Location"
                        name="Location"
                        placeholder="(e.g. MSC 2400)"
                        required autofocus>
              </div>
              
              <div class="form-group col-1">
                <label for="pointValue">Points: </label>
                <input type="number"
                        class="form-control"
                        id="pointValue"
                        name="pointValue"
                        required>
              </div>
              
              <div class="form-group col-2">
                <label for="pointType">Point Type: </label>
                <select class="form-control"
                        id="pointType"
                        name="pointType"
                        required>
                  <option value="FR">FR</option>
                  <option value="LD">LD</option>
                  <option value="PR">PR</option>
                  <option value="Service">Service</option>
                  <option value="Social">Social</option>
                </select>
              </div></br>
              
              <div class="form-group col-3">
                <label for="Details">Details: </label>
                <textarea rows="7"
                          class="form-control"
                          id="Details"
                          name="Details"
                          placeholder="(e.g. MSC 2400)"
                          required autofocus></textarea>
              </div>
            </div>
            <%= submit_tag "Create Event" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" data-turbolinks="false">
  $('#calendar').fullCalendar({
    events: <%= @calendar_events.to_json.html_safe %>,
    eventClick: function(info) {
      window.location.assign("events/" + info.id);
    },
    contentHeight: 650,
  });
</script>

<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>