<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'animate.css' %>
</head>

<div class="offset-md-2 col-md-10 col-xs-12 animated fadeInRightBig fast">
    <div class="card mt-3">
        <div class="card-header">
            <h1>Forms</h1>
        </div>
        <div class="card-body">
            <p>Here are all of the forms.</p>
            <a href="https://maroonlink.tamu.edu/forms" target="_blank">Maroon Link Forms</a>
        </div>
    </div>
</div>

<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
 <% end %>
