<div class="col-10 offset-2">
    <div class="card mt-3">
        <div class="card-header">
            <h1>Forms</h1>
        </div>
        <div class="card-body">
            <p>Here are all of the forms.</p>
            <a href="https://maroonlink.tamu.edu/forms" target="_blank">Maroon Link Forms</a>
        </div>
    </div>
</div>

<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
 <% end %>
