<div class="col-10 offset-2">
    <h1>Forms</h1>
    <p>Here are all of the forms.</p>
    <a href="https://maroonlink.tamu.edu/forms" target="_blank">Maroon Link Forms</a>

</div>

<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
  <% end %>
