<div class="col-10 offset-2">    
    <h1>Marketplace</h1>
    <p>See what other members are selling here!</p>
</div>
<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>