/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported +before+ bootstrap
@import "bootstrap";
@import "fullcalendar";

*{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h1{
  font-weight: 600;
}

.sidebar {
  margin: 0;
  padding: 0;
  top: 0;
  width: 300px;
  background-color: #428BCA;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
}
.sidebar a {
  display: block;
  color: white;
  padding: 12px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.page {
    padding: 0px 170px;
}

.nav-sidebar {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
}

/* Links on mouse-over */
.nav-sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: helpFadeIn 0.3s ease-in-out;
    animation: helpFadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes helpFadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes helpFadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

/* On screens that are less than 768px wide, make the sidebar into a topbar */

@include media-breakpoint-down(md) {
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* Testing media stuff */
@include media-breakpoint-down(sm) {
  .col-xs-12 {
    text-align: center;
  }
  
  .card-header {
    background-color: #428BCA;
    color: white;
  }
  
  .users-table {
    font-size: 75%;
  }
  
  .form-title {
    text-align: left;
  }
  
  .sidebar{
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.fc-event{
  cursor: pointer;
}
