/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported +before+ bootstrap
@import "bootstrap";
@import "fullcalendar";

.sidebar {
  margin: 0;
  padding: 0;
  top: 0;
  width: 300px;
  background-color: #428BCA;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: white;
  padding: 12px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.page {
    padding: 0px 170px;
}

.nav-sidebar {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
}

/* Links on mouse-over */
.nav-sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Testing media stuff */
@include media-breakpoint-down(sm){
  .col-xs-12 {
    text-align: center;
  }
  
  .card-header {
    background-color: #428BCA;
    color: white;
  }
  
  .users-table {
    font-size: 75%;
  }
  
  .form-title {
    text-align: left;
  }
}

