// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 767px) {
  .column-12 {
    text-align: center;
  }
  
  .column {
    color: red;
  }
}

.column {
    color: blue;
}
