<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'animate.css' %>
    <title>Clear Points - FLEX EMS</title>
</head>

<div class="offset-md-2 col-md-10 col-xs-12 animated fadeInDownBig fast">
    <div class="card mt-3">
        <div class="card-header">
            <h1>Clear Points</h1><br>
            <h3 style='color: red; font-weight: 600'>WARNING: ALL ACTIONS TAKEN HERE WILL REMOVE INFORMATION FROM THE DATABASE.</h3>
            <P>Proceeding will erase all events/points from the database, and cannot be reversed.
               Please ensure that any and all information necessary has been recorded somewhere else.</P>
        </div>
        <div class="card-body">
                        <%= button_to "Confirm", "/clearpoints/confirm", :class => 'btn btn-outline-danger btn-lg' %>
        </div>
    </div>
</div>